<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>wakaScript needs to run applescripts that query the contents of your Script Editor window to detect script modification. The contents of your script never leave your device.</string>
</dict>
</plist>
